.dropbtn {
    background-color: white;
    color: blue;
    padding: 9px 10px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    text-align:center;
    font-family:Calibri;
    border-radius: 4px;
}



.dropdown-content {
    display: none;
    position: absolute;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
}

.dropdown-content a {
    font-size:14px;
    color: blue;
    padding: 9px 15px;
    text-decoration: none;
    display: block;
    border-radius: 4px;
    background-color:#f2f2f2;
    -webkit-border-radius:;
    -moz-border-radius:;
   
}

.dropdown-content a:hover{
   background-color:#3366cc;
   color: white;
   text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #e1eaea;
    color: #3366ff;
}

.button1 {
    background-color:green;
    color: white;
    padding: 9px 15px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    text-align:center;
    font-family:Calibri;
    border-radius: 4px;
}
.button1 a{
    background-color:green;
    color: white;
}
.button1 a:hover{
    color: yellow;
    text-decoration: none;
}

marquee{
    position: relative;
    top:12px;
    color:red;
}

@keyframes slider {
    0%{left: 0;}
    20%{left: 0;}
    25%{left: -100%;}
    45%{left: -100%;}
    50%{left: -200%;}
    70%{left: -200%;}
    75%{left: -300%;}
    95%{left: -300%;}
    100%{left: -400%;}
}

#slider{
    overflow: hidden;
}

#slider figure img{
    width: 20%;
    float: left;
}

#slider figure{
    position: relative;
    width: 500%;
    margin: 0px;
    animation: 20s slider infinite;

}

#news{
    position: relative;
    top:30px;
    left:-25px;
}

#topic{
    text-align: center;
    font-size: 20;
    color: black;
}